- # head.haml
- # Justin Martenstein: April, 2011

%head
	%title Lunch on Four Wheels, a seattle street food directory
	%link{:rel => "stylesheet", :href => "#{@base_url}/stylesheet.css", :type => "text/css"}


