%ul.lower_nav

	%li.lower_nav
		[ browse by 
		%a{ :href => "../trucks" }< truck 
		or 
		%a{ :href => "../neighborhoods" }< neighborhood
		]

	%li.lower_nav
		[ show all listings for 
		%a{ :href => "../today"}< today 
		or 
		%a{ :href => "../this_week" }< this week
		]
