%ul.lower_nav

	%li.lower_nav
		[ browse by 
		%a{ :href => "#{@base_url}/trucks" }< truck 
		or 
		%a{ :href => "#{@base_url}/neighborhoods" }< neighborhood
		]

	%li.lower_nav
		[ show all listings for 
		%a{ :href => "#{@base_url}/today"}< today 
		or 
		%a{ :href => "#{@base_url}/this_week" }< this week
		]
