- # neighborhood.haml
- # Justin Martenstein - March, 2011

- # get the neighborhood object
- hood = Neighborhood.find_by_name(@neighborhood)

.info
	%strong.neighborhood #{hood.name}

.main
	- @object = hood
	=haml :list_days, :layout => false

