- hood = Neighborhood.find_by_name(@neighborhood)

%head
	%title Seattle Food Trucks > Neighborhoods > #{hood.name} 
	%link{:rel => "stylesheet", :href => "../stylesheet.css", :type => "text/css"}

%body
	.header Seattle Food Trucks > Neighborhoods > #{hood.name}
	%br

	.main

