-# neighborhoods.haml
-# Justin Martenstein - March, 2011

.info
	%strong.title Neighborhoods

.main
	%ul.neighborhoods
		- Neighborhood.all.each do |hood|
			%li.neighborhood
				%a{ :href=>"#{@base_url}/neighborhood/#{hood.name}" }= hood.name

