/* stylesheet for streetfood webapp 
	Justin Martenstein, March 2011 
*/

body {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	border: 0px solid gray;
	padding: 10px;
	font-family: georgia;
	background: #FFFFFF;
}

.header {
	text-align: right;
	padding: 0px;
	color: gray;
	border: 0px solid;
}

strong.site-name {
	font-size: 18px;
}

/*.main {
	position: absolute;
	padding: 5px;
	top: 50px;
	border-style: solid;
	border-color: blue;
	border-width: 0px;
}*/

a.title {
	text-decoration: none;
}

strong.title {
	font-size: 24px;
}

strong.neighborhood {
	font-size: 24px;
}

strong.truck {
	font-size: 24px;
}

ul.days {
	list-style-type: none;
}

ul.neighborhoods {
	list-style-type: none;
}

ul.trucks {
	list-style-type: none;
}

li.day {
	border: 0px solid black;
	padding-bottom: 10px;
}
	
strong.date {
}

strong.list-date {
	font-size: 18px;
}

ul.stops {
	list-style-type: none;
	padding-top: 5px;
}

ul.date-stops {
	list-style-type: none;
	padding-top: 10px;
}

li.stop {
	padding-bottom: 10px;
}

font.stop-main {
}

font.stop-sub {
	font-size: 13px;
	color: gray;
}

li.no_stop {
	font: italic;
	color: black;
}

ul.about {
	list-style-type: none;
}

.food {
	padding-top: 5px;
}

.externals {
	padding-top: 1px;
}

.lower_nav {
	padding-bottom: 2px;
	color: black;
	font-size: 13px;
}

.footer {
	color: gray;
	text-align: center;
	padding-top: 10px;
}

a.footer {
	text-decoration: none;
}

font.footer {
	font-size: 12px;
}
