- # this_week.haml
- # Justin Martenstein - March, 2011

!!!
%html{:xmlns => "http://www.w1.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

	=haml :header, :layout => false

	%body

		=haml :upper_nav, :layout => false

		-#.info
		-#	%strong.title This Week

		.main

			- (0 .. 6).each do |i|

				-# set @num_days equal to one now, when we're calling list_week
				- @start_day = (Date.strptime("Monday", "%A") + (7 * @num.to_i) + i).to_s
				- @num_days = 1

				- day = Date.strptime(@start_day)
				%strong.list-date #{day.strftime("%A, %B #{day.day.ordinalize}")}

				=haml :list_stops, :layout => false

		=haml :lower_nav, :layout => false

		=haml :footer, :layout => false
