- # this_week.haml
- # Justin Martenstein - March, 2011

.main

   - (0 .. 6).each do |i|

      -# set @num_days equal to one now, when we're calling list_week
      - day = (Date.strptime("Monday", "%A") + (7 * @num.to_i) + i)
      - unsorted_stops = Stop.by_date(day)
      - @stops = unsorted_stops.sort_by { |a| [ a.location.neighborhood.distance, a.location.neighborhood.name ] }

      %strong.list-date #{day.strftime("%A, %B #{day.day.ordinalize}")}

      =haml :list_stops, :layout => false

