- # this_week.haml
- # Justin Martenstein - March, 2011

%html{:xmlns => "http://www.w1.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

%head
	%title #{@page_text['title']}, #{@page_text['sub-title']}
	%link{:rel => "stylesheet", :href => "stylesheet.css", :type => "text/css"}

%body

	=haml :header, :layout => false

	-#.info
	-#	%strong.title This Week

	.main
		-@start_day = (Date.strptime("Monday", "%A") + (7 * @num.to_i)).to_s
		-@num_days = 7
		=haml :list_week, :layout => false

	=haml :footer, :layout => false
