- # today.haml
- # Justin Martenstein - March, 2011

-# load today's date into a variable, then display it
-# inside an "info" div
- day = Date.today + @num.to_i
.info
	%strong.title #{day.strftime("%A, %B #{day.day.ordinalize}")}

.main
	-@start_day = day.to_s; @pivot = "none"
	-@stops = Stop.by_date(day)
	=haml :list_stops, :layout => false

