- # today.haml
- # Justin Martenstein - March, 2011

-# load today's date into a variable, then display it
-# inside an "info" div
%div{ :class => "info" }
   %strong.title #{@day.strftime("%A, %B #{@day.day.ordinalize}")}

.main
   =haml :list_stops, :layout => false

