-# neighborhoods.haml
-# Justin Martenstein - March, 2011

.info
	%strong.title Food Trucks

.main 
	%ul.trucks
		- Truck.all.each do |truck|
			%li.truck
				%a{ :href=>"#{@base_url}/truck/#{truck.name}" }= truck.name

